.img{
  height: 26vh;
  width: 100%;
}
.home{
  height: 100vh;
  overflow-y: auto;
}
.box{
  padding: 20px;
  box-sizing: border-box;
  height: 90%;
  overflow-y: auto;
}
.boxBtns{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.echarts{
  margin-top: 20px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.card{
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px #fff,0 0 10px #cccccc;
  padding: 20px;
  box-sizing: border-box;
}
.cardBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
